[draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    /* Required to make elements draggable in old WebKit */
    -khtml-user-drag: element;
    -webkit-user-drag: element;
}

.form-control {
    display: block;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    height: 200px;
    line-height: 1.42857143;
    font-family: inherit;
    color: #555;
    background-color:transparent;
    padding: 10px;
    font-size: 18px;
    box-sizing: border-box;
    outline: none;
    background-image: none;
    border: none;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
textarea {
    overflow-x: hidden;
}

.sticky {
    background-color: yellow !important;
    font-family: Gloria Hallelujah, cursive;
    display: block;
    padding: 1em;
    cursor: move;
    margin: 8px;
    background: linear-gradient(top, rgba(255, 226, 129, 0.05), rgba(255, 158, 129, 0.25));
    background-color: #FFFD75;
    box-shadow: 5px 5px 10px -2px rgba(33,33,33,.3);
    transition: transform .15s, visibility .10,s; 
    transition-timing-function: ease-in;
    transform: rotate(-2deg);
    z-index: 1 ;
}

.sticky input {
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
}

.sticky input {
    font-family: Gloria Hallelujah, cursive;
    font-size: 16px;
    border: none;
    outline: none;
    color:rgb(57, 57, 57);
}

.sticky input:focus {
    border: none;
    outline: none;
}

.sticky input::placeholder {
    font-family: Gloria Hallelujah, cursive;
    color:rgb(94, 94, 94);
    font-size: 16px;
}

.sticky textarea {
    font-family: Gloria Hallelujah, cursive;
    font-size: 16px;
    border: none;
    outline: none;
    color:rgb(57, 57, 57);
}

.sticky textarea::placeholder {
    font-family: Gloria Hallelujah, cursive;
    color:rgb(94, 94, 94);
    font-size: 16px;
}

.growCardMoving {   
    transform: rotate(0deg);
    opacity: .25;
    transform: scale(1, 1);
}

.hideCard {
    visibility: hidden;
}

.showBorderOver {
    border: 1px dashed yellow;
    background: #aa73ff;
    opacity: 0.55;
    margin: 6px;
}
.col-md-3 {
    transition: all 0.5s ease-in;
}
.remove {
    transform: scale(0);
    opacity: 0;
}